@media (min-width: 320px) {
  .conteudo-width {
    width: 260px;
  }
}

@media (min-width: 440px) {
  .conteudo-width {
    width: 500px;
  }
}

@media (min-width: 768px) {
  .conteudo-width {
    width: 600px !important;
  }
}
