.section-Cardapio {
  margin-top: -90px;
}

@media (min-width: 320px) {
  .section-Cardapio {
    width: 90%;
  }

  .wpp-lanchonete {
    background: url("./public/espaco-lanchonete.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
  }
}

@media (min-width: 768px) {
  .wpp-lanchonete {
    height: 50vh;
  }
}
