.nav-linksNav {
  color: black !important;
  transition: 0.7s ease-in-out !important;
}

.nav-linksNav:hover {
  color: red !important;
}

.header-sombra {
  box-shadow: 0 -6px 10px 6px rgba(0, 0, 0, 0.5);
}
