.wpp-main {
  background: url("/public/Lanchonete.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.wpp-section-horarios {
  padding-bottom: 160px;
}

@media (min-width: 320px) {
  .wpp-section-cardapio {
    height: 100vh;
  }
}

@media (min-width: 992px) {
  .wpp-section-cardapio {
    height: 60vh;
  }
}
